.about-container{
    margin-top: 10vh;
    height: 100%;
    border-bottom: 1px solid black;
    padding-bottom: 10vh;
}

.about-image-container{
    width: 100%;
    height: 40vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    margin-top: 10vh;
}

.about-image{
    width: 100%;
    height: 100%;
    background-image: url("../assets/images/sectionImages/about.jpg");
    background-size: cover;
    grid-column: 1 / 4;
}

.about-mask{
    width: 100%;
    height: 15%;
    margin-left: calc(-100% - 20px);
    background-color: white;
}

.about-text {
    text-indent: calc((100% + 20px) / 4); 
}

@media screen and (max-width: 768px){
    .about-text{
        text-indent: 0;
    }
    

    .about-image-container{
        position: relative;
        width: 100%;
        display: block;
    }

    .about-mask{
        position: absolute;
        top: 0;
        margin-left: calc(50% + 20px);
        height: 15%;
        width: calc(50% - 20px);
    }
}


