.education-container {
    margin-top: 10vh;
    height: 100%;
}

.education-container .section-title h2{
    width: 100vw;
}

.education-gallery {
    width: 100%;
}

.education-text {
    font-size: 1.2rem;
    font-family: 'LibreFranklin_Regular', sans-serif;
    line-height: 1.5;
}

