
.headerContainer {
    margin-top: 28vh;
    position: relative;
    height: 65vh;
    border-bottom: 1px solid black;
}

.headerEnglish h1{
    grid-column: 2 /6;
}

.headerFrench h1{
    grid-column: 1 /6;
}

.headerText h4{
    grid-column: 1 / 6;
    grid-column-end: 4;
    margin-top: 1rem;
}

canvas{
    position: absolute;
    top: -20vh;
    right: 0;
    z-index: -1;
    /* border: 1px solid red; */
}

@media screen and (max-width: 768px){
    .headerContainer{
        margin-top: 25vh;
        height: 95vh;
    }

    .headerText h4{
        grid-column: 1 / 6;
        grid-column-end: 7;
        margin-top: 1rem;
    }

    canvas{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 20vh;
    }
}

@media (max-width: 1024px) and (min-width: 768px){
    .headerContainer{
        margin-top: 25vh;
        height: 100vh;
    }

    .headerContainer h1{
        font-size: 10vw;
    }

    .headerText h4{
        grid-column: 1 / 6;
        grid-column-end: 7;
        margin-top: 1rem;
        font-size: 1.3rem;
    }

    canvas{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 30vh;
    }
}
