.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    background-color: white;
    z-index: 100;
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  }

.navbar.scrolled {
    height: 60px;
}

.navbar-left {
    display: flex;
    align-items: center;
}

.logo {
    height: 50px;
    transition: transform 0.3s cubic-bezier(.075,.82,.165,1), height 0.3s cubic-bezier(.075,.82,.165,1);
}

.logo-scaled {
    height: 40px;
    transform: scale(1);
}

.logo-rotated {
    transform: rotate(0deg);
}

.school-name {
    margin-left: 10px;
    font-family: 'NeueMachina_Regular', sans-serif;
    font-size: 20px;
    font-weight: 400;
    opacity: 1;
    transition: opacity 0.3s cubic-bezier(.075,.82,.165,1), transform 0.3s cubic-bezier(.075,.82,.165,1);
}

.school-name-hidden {
    opacity: 0;
    transform: translateY(-10px);
}

.navbar-right {
    display: flex;
    align-items: center;
    position: relative;
}

.hamburger {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;   
    cursor: pointer;
    transition: all 0.3s cubic-bezier(.075,.82,.165,1);
}

.hamburger span {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: black;
    transition: all 0.5s cubic-bezier(.075,.82,.165,1);
}

.hamburger span:nth-child(1) {
    position: absolute;
    transform: rotate(90deg);
}

.hamburger span:nth-child(2) {
    position: absolute;
}

.hamburger.open span:nth-child(1) {
    rotate: -90deg;
}

.menu-items {
    display: flex; 
    flex-direction: row;
    opacity: 0;
    width: 58;
    text-align: center;
    pointer-events: none;
    transition: transform 0.3s cubic-bezier(.075,.82,.165,1), opacity 0.3s cubic-bezier(.075,.82,.165,1);
}

.menu-items.show {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}


.menu-items a {
    margin-right: 3vw;
    transition: color 0.3s cubic-bezier(.075,.82,.165,1);
}

.menu-items a:hover {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 3px;
}



.menu-items a {
    margin-right: 3vw;
    transition: color 0.3s cubic-bezier(.075,.82,.165,1);
}

.menu-items a:hover {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 3px;
}
  
  .hamburger-menu {
    display: none;
    position: relative;
    z-index: 200;
  }
  
  .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 30px;
    height: 30px;
    background: transparent;
    border: none;
    cursor: pointer;
  }
  
  .hamburger span {
    width: 100%;
    height: 1px;
    background-color: black;
    transition: all 0.3s ease;
  }
  
  .hamburger-menu.open .hamburger span:first-child {
    transform: rotate(45deg) translate(5px, 5px);
  }
  
  .hamburger-menu.open .hamburger span:last-child {
    transform: rotate(-45deg) translate(5px, -5px);
  }

  .hamburger-menu-overlay.active {
    display: block;
  }


@media (max-width: 768px) {
    .navbar {
        padding: 0 20px;
    }

    .logo {
        height: 40px;
    }

    .school-name {
        font-size: 16px;
        margin-left: 0;
    }

    .hamburger {
        width: 20px;
        height: 20px;
    }

    .menu-items {
        display: none;
        top: 0;
        width: auto;
        height: 100vh;
        flex-direction: column;
        position: absolute;
        background-color: white;
        padding: 20px;
    
        display: flex;
        gap: 10px; 
        z-index: -1;
    }
    
    .menu-items.show {
        width: 100vw;
        height: 100vh;
        text-align: left;
        left: 0px;
        display: flex; 
        border: 1px solid blue;
        padding-top: 30vh;
    }
    

   .menu-items a {
        margin: 10px 0; 
        color: black; 
        font-size: 16px;
        text-decoration: none;
        transition: color 0.3s ease;
        padding-bottom: 5px;
    }
    .hamburger {
        z-index: 200; 
    }
}

@media screen and (max-width: 1024px){
    .navbar {
        padding: 0 20px;
    }

    .logo {
        height: 40px;
    }

    .school-name {
        font-size: 16px;
        margin-left: 0;
    }

    .hamburger {
        width: 20px;
        height: 20px;
    }

    .menu-items {
        width: 40vw;
    }

    .menu-items a {
        margin-right: 2vw;
    }
}
