.partnership-section {
    margin-top: 10vh;
    padding-top: 10vh;
    padding-bottom: 10vh;
    background-color: black;
    margin-left: -50px;
    padding-left: 50px;
    padding-right: 50px;
    width: 100vw;
}

.partnership-section h2,
.partnership-section h4,
.partnership-section h5,
.partnership-section a,
.partnership-section p {
    color: white;
}

.partnership-section img{
    filter: invert(1);
}

.partnership-container {
    fill: white;
}

.partnership-container {
    margin: 0 auto;
}

.partnership-description {
    text-indent: calc((100% + 20px) / 4); 
    margin-bottom: 2vh;
    font-size: 1.2rem;
    font-family: 'LibreFranklin_Regular', sans-serif;
    line-height: 1.5;
}

.contact-info {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 3vh;
}

.mail-icon {
    width: 24px;
    height: 24px;
    margin-bottom: 10vh;

}

.contact-email {
    font-size: 1rem;
    font-family: 'NeueMachina_Regular', sans-serif;
    text-decoration: none;
    transition: color 0.3s ease;
    text-transform: none;
    text-decoration: underline;
    margin-bottom: 10vh;
}

/* Form Styles */
.partnership-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    margin-top: 3vh;
}

.form-group {
    margin-bottom: 20px;
}

input,
textarea {
    color: white;
    font-size: 1rem;
    font-family: "neueMachina_Regular", sans-serif;
    padding: 10px;
    border: 1px solid white;
    width: 100%;
    resize: none;
    background-color: black;
}

input:focus,
textarea:focus {
    border-color: white;
    outline: none;
}

.submit-button {
    background-color: black;
    color: white;
    border: 1px solid white;
    font-size: 1rem;
    font-family: 'NeueMachina_Regular', sans-serif;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: white;
    color: black;
}

.mobile-submit{
    display: none;
}

@media screen and (max-width: 768px) {
    .partnership-section {
        margin-left: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .partnership-description {
        text-indent: 0;
    }

    .partnership-form {
        grid-template-columns: repeat(1, 1fr);
    }

    .desktop-submit{
        display:  none;
    }

    .mobile-submit{
        display: block;
    }
}


@media screen and (max-width: 1024px){
    .partnership-section {
        margin-left: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}