.research-container {
    margin-top: 10vh;
    height: 100%;
    padding-bottom: 10vh;
}

.research-gallery {
    width: 100%;
}

.research-text{
    margin-bottom: 10vh;
}


.project1 {
    /* background-image: url("../assets/images/research/ai-for-social-good.jpg"); */
}

.project2 {
    /* background-image: url("../assets/images/research/data-ethics.jpg"); */
}

.project3 {
    /* background-image: url("../assets/images/research/sustainable-design.jpg"); */
}
